{
    "plugins": [
      "meteor"
    ],
    "extends": [
      "airbnb",
      "plugin:meteor/recommended"
    ],
    "settings": {
      "import/resolver": "meteor"
    },
    "rules": {
      "no-underscore-dangle": [
        "error",
        { "allow": ["_id"] }
      ]
    }
}
